<!DOCTYPE html>
<html>
<head>
    <title><%= locals.title ?? "ProNouns Cloud" %></title>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body class="bg-dark">
<div class="header">
    <span onclick="window.location='/'">ProNouns Cloud</span>
    <span class="username">
        <% if (locals.user) { %>
            <%= locals.user.username %> | <a href="/moderation">Mod queue</a> | <a href="/logout">Log out</a>
        <% } else { %>
            <a href="/moderation">Admin login</a>
        <% } %>
    </span>
</div>
<%- body %>
</body>
</html>
